mods/1.6.4/CodeChickenLib-universal-*.jar
mods/VoxelMods/voxelmap.properties
mods/ic2/ejml-*.jar
options.txt
output-client.log
output-server.log
saves/
stats/
assets/
crash-reports/
hats/
openperipheral/
optionsof.txt
PortalGunSounds.pak
IDConflicts.txt
OptiFine*
mods/1.6.4
*.log
*.log.lck
*.1
powersuits-keybinds.cfg
servers.dat
